body{
font-family:Arial;
text-align:center;
background: rgb(252, 246, 249);
}

.movies{
display:grid;
grid-template-columns:repeat(3,1fr);
gap:20px;
}

.movie img{
width: 70%;
border-radius:10px;
}
